@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500;700&family=Exo+2:wght@100;200;400;600&display=swap');

body {
  background-color: #F6F6F6;
  color: #00303F;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  display:  block;
  margin: 8px;
}

div {
  display:  block;
}

h1, h2, h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 32px;
}

h1 {
  color: #30475E;
}

h2 {
  color: #F0C38E;
}

a {
  color: #487E95;
  text-decoration: none;
}

a:hover {
  color:  #719FB0;
  background-color: #FFF;
}

.btn {
  background-color: #00303F;
  color: #FFF;
  padding: 6px;
  border-radius: 4px;
}

.btn:hover {
  color:  #719FB0;
  background-color: #FFF;
  border: 2px solid;
}

.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px;
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background: #000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}

.tooltip.left:before {
  /* reset defaults */
  left:initial;
  margin:initial;

  /* set new values */
  right:100%;
  margin-right:15px;
}

.tooltip:hover:before {
  display:block;
}

.container {
  width: 750px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  box-shadow: 0px 10px 24px #487E95 ;
  margin: 20px 0px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
